.header {
  background: var(--gradient);
  padding: var(--spacing-m) auto;

  & .header__title {
    font-size: var(--header-size);
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-title);
    font-weight: 800;
    // animation: header 2s ease-in;
  }
}

// @keyframes header {
//   0% {
//     font-weight: 100;
//   }
//   100% {
//     font-weight: 800;
//   }
// }
