.header {
  background: var(--gradient);
  padding: 2rem 5rem;

  & .header__title {
    font-size: 15rem;
    color: hsl(0, 0%, 18%);
    text-align: center;
    font-family: "Doto", sans-serif;
    font-weight: 800;
    animation: header 2s ease-in;
  }
}

@keyframes header {
  0% {
    font-weight: 100;
  }
  100% {
    font-weight: 800;
  }
}
