.header {
  background: var(--gradient);
  padding: var(--spacing-m) 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  text-align: center;

  & .header__title {
    font-size: var(--header-size);
    color: var(--text-color);
    font-family: var(--font-title);
    font-weight: 800;
    margin-bottom: 2rem;

  }

  & .header__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 2rem;
    transition: all 0.6s ease-in-out;

    &:hover{
       color: var(--background-color);
    }
  }
}


