@import url(reset.css);
@import url(variables.css);
@import url(header.css);
@import url(container.css);
@import url(nav.css);
@import url(section.css);
@import url(quiz.css);

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
}

.main {
  overflow-y: auto;
  height: 100vh;
}

.footer {
  text-align: center;
}
