.nav{
    padding: var(--spacing-m);
    background-color: var(--text-color);

    & .nav__item{
        margin-bottom: var(--spacing-m);
        font-size: 2rem;
    }

    & .nav__link{
        text-decoration: none;
        color: var(--background-color);
        transition: all 0.6s ease-in-out;

        &:hover{
            color: var(--light-color);
        }
    }
}