.section {
  margin: 2rem auto;
  width: 80%;

  & .section__title {
    color: var(--dark-color);
    font-size: var(--title-size);
    margin-bottom: 1rem;
  }

  & .section__subtitle {
    font-size: 1.5rem;
    margin: 1.5rem 0 1rem 0;
    color: var(--dark-color);
    font-weight: 600;
  }

  & .section__text {
    margin-bottom: 1rem;
    line-height: 1.6;
  }

  & .section__list {
    margin: 1rem 0 1.5rem 2rem;
    list-style-type: disc;
    line-height: 1.6;
  }

  & .section__list li {
    margin-bottom: 0.5rem;
  }

  & .section__steps {
    margin: 1rem 0 1.5rem 2rem;
    list-style-type: decimal;
    line-height: 1.6;
  }

  & .section__steps li {
    margin-bottom: 0.5rem;
  }

  & .section__link {
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 800;
    font-size: 1.2rem;
    border-bottom: solid 0.125rem var(--dark-color);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--green-color);
      border-color: var(--green-color);
    }
  }

  & .section__iframe {
    width: 100%;
    border: none;
    border-radius: 0.5rem;
  }

  & .section__image {
    margin: 1.5rem 0;
    text-align: center;
    border-radius: 0.5rem;
  }

  & code {
    background-color: var(--background-color);
    padding: 2px 5px;
    border-radius: 3px;
    font-family: monospace;
    font-size: 0.9rem;
  }

  & .section__img {
    width: 100%;
    height: auto;
  }

  & .section__video{
    height: 40rem;
  }
}
