:root {
    --light-color:hsl(102, 92%, 63%);
    --dark-color:hsl(158, 56%, 35%);


  --gradient: linear-gradient(
    137deg,
    var(--light-color) 0%,
    var(--dark-color) 100%
  );

  --font-title: "Doto", sans-serif;

  --text-color: hsl(0, 0%, 18%);
  --background-color: hsl(0, 0%, 92%);

  --header-size: 15rem;

  --spacing-m:2rem;
  --spacing-l:5rem;
}
